.transactionsHistory {
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    width: 600px;
}

thead {
    background-color: rgb(0, 188, 212);
}

th {
    color: white;
    padding: 8px 0 8px 0;
    width: 200px;
    font-size: 18px;
}

td {
    text-align: center;
    padding: 8px;;
}

tr:nth-child(even) {
    background-color: rgb(214, 236, 240);
}
